
body {
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: Helvetica, 'Droid Sans', Arial, sans-serif;
    font-size: 14px;
    color: #303030;
}

a {
    color: #820700;
    -webkit-transition: background-color 0.2s ease-in;
    transition: background-color 0.2s ease-in;
}

a:hover {
    background-color: #D8D8D2;
    -webkit-transition: background-color 0.2s ease-in;
    transition: background-color 0.2s ease-in;
}

a.nohighlight:hover {
    background-color: white;
}

hr {
    border: 0px;
    height: 1px;
    background-color: #D8D8D2;
    color: #D8D8D2;
}

h1 {
    font-size: 22px;
    text-transform: lowercase;
}

h2 {
    font-size: 18px;
    text-transform: lowercase;
}

#main {
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
}

#header {
    height: 40px;
    margin-top: 20px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    font-size: 30px;
    border-bottom: 1px solid #D8D8D2;
    position: relative;
}

#header_content {
    padding-left: 12px;
    position: absolute;
    bottom: 0px;
}

#header_content a {
    text-decoration: none;
}

#header_buttons {
    font-size: 14px;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    position: absolute;
    bottom: -1px;
    right: 0px;
}

#header_buttons li {
    display: block;
    float: left;
    padding: 6px;
    border: solid 1px #D8D8D2;
    margin-left: 12px;
}

#header_buttons li.selected {
    font-weight: bold;
}

#header_buttons li.active {
    color: white;    
    background-color: #820700;
}

#header_buttons a {
    text-decoration: none;
}

#header_buttons a:hover {
    background-color: transparent;
    color: white;
}

#header_subtext {
    font-size: 10px;
    color: #303030;
}

#header_spacer {
    clear: both;
    height: 24px;
    width: 100%;
}

#footer {
    padding: 12px;
    border-top: 1px solid #D8D8D2;
}

#content {
    width: 776px;
    float: left;
    padding-left: 12px;
    padding-right: 12px;
    margin-bottom: 24px;
}

#content-header {
    padding: 0px;
}

#content-header h1 {
    padding: 0px;
    margin: 0px;
}

#sidebar {
    margin-bottom: 24px;
    padding-left: 12px;
    padding-right: 12px;
    width: 174px;
    float: right;
    border-left: 1px solid #D8D8D2;
}

#sidebar ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    margin-bottom: 24px;
}

#sidebar h4 {
    margin: 0;
    color: #820700;
    font-size: 16px;
    font-weight: normal;
    text-transform: lowercase;
}

#sidebar h4 > span {
    font-weight: bold;
}

.post_title {
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 4px;
    margin-bottom: 16px;
    text-transform: lowercase;
}

.post_title > a {
    display: block;
}

.post_date {
    font-size: 11px;
    margin: 0px;
}

.post_content {
    padding-bottom: 4px;
}

#footer {
    clear: both;
    padding-left: 12px;
    padding-right: 12px;
}

.tweet {
    padding: 6px;
    border-bottom: 1px solid #D8D8D2;
    -webkit-transition: background-color 0.2s ease-in;
    transition: background-color 0.2s ease-in;
}

.tweet:hover {
    background-color: #D8D8D2;
    cursor: pointer;
    -webkit-transition: background-color 0.2s ease-in;
    transition: background-color 0.2s ease-in;
}

.tweet a:hover {
    color: white;
    -webkit-transition: color 0.2s ease-in;
    transition: color 0.2s ease-in;
}

#fetching_tweets {
    display: block;
    padding: 6px;
}

.message {
    font-style: italic;
}

#subscribe_button {
    padding-bottom: 12px;
}

.project_list {
    padding: 0px;
    list-style: none;
}

.project_list li {
    padding-bottom: 24px;
}

.project_name {
    display: block;
    font-weight: bold;
}