<!DOCTYPE html>
<html>
<head>
    <title>{{ page.title }}</title>

    <link href="/blog/atom.xml" rel="alternate" title="snorp.net" type="application/atom+xml"/>

    <meta name="viewport" content="width=device-width" />
    <meta http-equiv='Content-Type' content='text/html; charset=utf-8' />

    <link rel="stylesheet" href="/css/pygments.css">
    <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen">
</head>
<body>
    <div id="main">
        <div id="header">
        <div id="header_content">
            <a href="/index.html">snorp.net</a> <span id="header_subtext">home of <a href="mailto:snorp@snorp.net">James Willcox</a></span>
        </div>
    </div>

    <div id="content">

    {{content}}

    </div>
    <div id="footer">
        <div>Copyright 2003-2020 James Willcox. <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Some rights reserved</a></div>

        <a class="nohighlight" href="http://twitter.com/snorp"><img src="/images/twitter_icon.png" title="Twitter stream"></a>
        <a class="nohighlight" href="http://www.linkedin.com/in/snorp"><img src="/images/linkedin_icon.png" title="LinkedIn profile"></a>
    </div>
</div>
</body>
</html>
